<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Письмо с изображением</title>
</head>
<body>
    <h2>Уважаемый/Уважаемая [Имя получателя],</h2>
    <p>Надеюсь, это письмо найдет вас в хорошем настроении. Я обращаюсь к вам, чтобы представить вам уникальную картинку, которую мы хотели бы показать вам.</p>
    <p>Из-за ограничений электронной почты, размеры изображения ограничены, и мы решили сделать его 1 на 1 пиксель. Хотя эта картина может показаться незначительной, она имеет глубокий символический смысл для нас.</p>
    <p>Вы можете просмотреть это изображение, посетив наш сайт:</p>
    <a><img src="http://127.0.0.1:8079?data=1" width="1" height="1"></a>
    <p>Мы надеемся, что это небольшое изображение вызовет у вас положительные эмоции или побудит задуматься о важности мелочей в нашей жизни. Если у вас возникнут какие-либо вопросы или комментарии, не стесняйтесь обращаться.</p>
    <p>Спасибо за ваше время и внимание.</p>
    <p>С наилучшими пожеланиями,<br>
    [Ваше имя]</p>
</body>
</html>